@media only screen and (max-width: 1500px) {
  .card-body>p {
    display: none;
  }
  .card-body {
    display: none;
  }
}

body {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex-basis: 20%;
  border: 2px solid sienna;
  margin: 3px;
  padding: 3px;
  border-radius: 15px;
  max-width: 500px;
  max-height: 200px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 40px #dfb5a9;
}

.card>img {
  float: left;
}
